{% extends 'app/base.html'%}

{%load static%}

{% block js %}  
  
{% endblock %}

{% block css %}        
{% endblock %}

{% block contenido %}

	<header>
		<div class="contenedor">
			<div class="contenedor-titulo">
				<h1 class="wow bounceInRight" data-wow-delay ="1s" data-wow-duration = "3s"> Conócenos, tenemos un espacio para ti</h1>
			</div>
		</div>
	</header>

	<main>
		<div class="principal">
			<div class="contenedor">
				<article>
					
				<h3>Un poco sobre nosotros</h3>

				<p class=>Somos una empresa que nace como un proyecto y una necesidad para generar una vitrina comercial para todo emprendedor y emprendedora que lo necesite. <br>No cobramos comisión y nuestra difusión se basa en la recomendación y en el ''boca en boca'' que generen los emprendedores con sus clientes. Queremos que tengas un espacio en donde mostrar tus productos y poder darte una oportunidad de mejorar tus ventas.</p>

				<h3 class="wow fadeInRight" data-wow-duration ="3s">Más que un desayuno, es una nueva experiencia</h3>				

				<blockquote>Ampliamos el mundo comercial de los emprendedore(a)s.</blockquote>
				<br>
				<br>
				
				</article>


				<div class="container-ideas">
						<h2>15 ideas de negocios rentables en los que podemos ser tu socio</h2>	
						</div>			

					<br>
					<br>

						<div style="text-align: center">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/AE-KDIcYjKI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>1</iframe>
					</div>
				</div>
			<br>
			<br>
			<br>
			<br>				
		<div class="llamada">
			<div class="contenedor">
				<div class="llamada-texto">
					<h3>¿Quieres Vender con Nosotros?</h3>
					<a href="{% url 'contacto' %}"><button>Más información</button></a>

				</div>
			</div>
		</div>
	</main>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
{% endblock %}