{% extends 'app/base.html'%}

{%load static%}

{% block js %}  
  
{% endblock %}

{% block css %}        
{% endblock %}

{% block contenido %}

<header>
    <div class="contenedor">
        <div class="contenedor-titulo">
            <h1 class="wow bounceInRight" data-wow-delay ="1s" data-wow-duration = "3s"> Nuestra Galería </h1>
        </div>
    </div>
</header>

<main>
    <div class="principal">
        <div class="contenedor">
            <article>
                
            <div class="container">
                <div class="row">
                    <h2>Galería de Imágenes</h2>	
                </div>
            </div>

            <div class="container">
                <div class="row">
            
            <div class="img"> 					 
              <a target="_blank" href="{% static 'app/img/galeria_1.jpg' %}">
               <img src="{% static 'app/img/galeria_1.jpg' %}" alt="Muestra_1"  width="600" height="400">
              </a>
                      
             <div class="desc">Entrega para el cumpleaños de Josefa</div>
              </div>

            <div class="img">
              <a target="_blank" href="{% static 'app/img/galeria_2.jpg' %}">
                <img src="{% static 'app/img/galeria_2.jpg' %}" alt="Muestra_2"  width="600" height="400">
              </a>
              <div class="desc">El conejito dejo sus regalos donde Carmelina</div>
            </div>

            <div class="img">
              <a target="_blank" href="{% static 'app/img/galeria_3.jpg' %}">
                <img src="{% static 'app/img/galeria_3.jpg' %}" alt="Muestra_3" width="600" height="400">
              </a>
              <div class="desc"> ¡Feliz Cumpleaños Lorena! </div>
            </div>

            <div class="img">
              <a target="_blank" href="{% static 'app/img/galeria_4.jpg' %}">
                <img src="{% static 'app/img/galeria_4.jpg' %}" alt="Muestra_4" width="600" height="400">
              </a>
              <div class="desc">Que lo pase excelente en su día Profe Ignacio</div>
            </div>

            <div class="img">
              <a target="_blank" href="{% static 'app/img/galeria_5.jpg' %}">
                <img src="{% static 'app/img/galeria_5.jpg' %}" alt="Muestra_5" width="600" height="400">
              </a>
              <div class="desc">Bella Juanita, que lo disfrutes</div>
            </div>

            <div class="img">
              <a target="_blank" href="{% static 'app/img/galeria_6.jpg' %}">
                <img src="{% static 'app/img/galeria_6.jpg' %}" alt="Muestra_6" width="600" height="400">
              </a>
              <div class="desc">Catalina, ¡que lo pases muy bien en tu día!</div>
            </div>
            
            </div>
            </div>

            <br>
            <br>		
            
    <div class="llamada">
        <div class="contenedor">
            <div class="llamada-texto">
                <h3>Siempre es bueno tomar un descanso</h3>
                <a href="{% url 'apiferiados'%}"><button>Feriados 2021</button></a>

            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}